<% provide(:title, 'About') %>

<div class="container-fluid py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
    <h1 class="display-3 text-white mb-3">About Us</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center text-uppercase">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">About</li>
      </ol>
    </nav>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-start">
            <%= image_tag("img/3.jpg", height: "250", width: "400") %>
          </div>
          <div class="col-6 text-start">
            <%= image_tag("img/1.jpg", height: "250", width: "300") %>
          </div>
          <div class="col-6 text-end">
            <%= image_tag("img/5.jpg", height: "250", width: "400") %>
          </div>
          <div class="col-6 text-end">
            <%= image_tag("img/2.jpg", height: "250", width: "300") %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
        <h1 class="mb-4">Welcome to <i class="fa fa-gem text-primary me-2"></i>Shopone</h1>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos erat ipsum et lorem et sit, sed stet lorem sit.</p>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <div class="row g-4 mb-4">
          <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
              <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                <%= users_amount %>
              </h1>
              <div class="ps-4">
                <p class="mb-0">Registered</p>
                <h6 class="text-uppercase mb-0">Users</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
              <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                <%= items_amount %>
              </h1>
              <div class="ps-4">
                <p class="mb-0">Active</p>
                <h6 class="text-uppercase mb-0">Offers</h6>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
      </div>
    </div>
  </div>
</div>
