<% provide(:title, @user.name) %>

<div class="container-fluid py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Profile</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center text-uppercase">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Profile</li>
      </ol>
    </nav>
  </div>
</div>


<div class="text-center">
  <% if current_user.wallet.nil? %>
  <%= link_to "Create wallet", new_wallet_path, class: "btn btn-primary" %>
    <% else %>
    <%= link_to "My wallet", @wallet, class: "btn btn-primary" %>
  <% end %>
</div>
<div class="container-xxl pt-5 pb-3">
    <div class="row">
      <div class="col-md-4">
          <h1>
            <%= image_tag("avatars/default.jpg", height: "100", width: "120") %>
            <%= @user.name %>
          </h1>
          <%= render 'shared/stats' %>
          <%= link_to "Edit profile", edit_user_path %>
      </div>
      <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
          <h3> Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
          <div class="digg_pagination">
            <%= will_paginate @microposts %>
          </div>
        <% end %>
      </div>
    </div>

</div>