<% @user ||= current_user %>

  <div>
  <a href="<%= following_user_path(@user) %>">
    <strong>
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong>
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <a href="<%= items_path %>">
    <strong>
      <%= @user.items.count %>
    </strong>
    my offers
  </a>
</div>
