<% provide(:title, 'Offers') %>
<h1>All Offers</h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col">
    <%= will_paginate %>
    <table class=" table table-dark">
      <thead>
      <tr>
        <th scope="col">Product name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Photo</th>
        <th scope="col">Actions</th>

      </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %> </td>
          <td><%= item.content %></td>
          <td><%= item.price %> PLN</td>
          <td><%= link_to image_tag(item.display_image, width: "100") %></td>
          <td>
            <%= link_to "Check", item, class: "btn btn-primary" %>
            <%= link_to "Edit", edit_item_path(item), class: "btn btn-warning" %>
            <%= link_to "Delete", item, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>
