<% provide(:title, 'Offers') %>

<section class="py-5">

 <%= link_to "Add new offer", new_item_path, class: "btn btn-primary" %>


  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        <%= will_paginate %>
        <% @items.each do |item| %>
          <div class="col mb-5">
            <div class="card h-100">
              <div class="text-center">
              <%= link_to image_tag(item.display_image, height: "150"), class: "card-img-top" if item.image %>
              </div>
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">
                    <%= item.name %>
                  </h5>
                  <%= item.price %> EUR
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <%= link_to "View", item, class: "btn btn-primary", class: "btn btn-outline-dark mt-auto" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= will_paginate %>

    </div>
  </div>
</section>
