<%# provide(:title, @item.name) %>
<p><%= @item.name %></p>
<p><%= @item.content %></p>
<p><%= @item.price %> PLN</p>
<p><%= link_to image_tag(@item.display_image, width: "100") %></p>
<p><%= link_to "Back", items_path, class: "btn btn-info" %></p>