<%# provide(:title, @item.name) %>

<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
    <h1 class="display-3 text-white mb-3 animated slideInDown"><%= @item.name %></h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center text-uppercase">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
      </ol>
    </nav>
  </div>
</div>

<div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-2 justify-content-center">

    <div class="col mb-15">
      <div class="card h-100">
        <div class="card-body p-5">
          <div class="text-center">
            <h5 class="fw-bolder">
              <%= @item.name %>
            </h5>
          </div>
          <div class="card h-100">
            <div class="card-body p-5">
              <div class="text-center">
                <p>Price: <%= @item.price %> EUR</p>
                <p>Specification: <%= @item.content %></p>
                <p>Description: <%= @item.content %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center">
            <%= link_to "Buy", @item, class: "btn btn-primary", class: "btn btn-outline-danger mt-auto" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col mb-5">
      <div class="card h-100">
        <div class="text-center">
          <%= link_to image_tag(@item.display_image, height: "250"), class: "card-img-top" if @item.image %>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        </div>
      </div>
    </div>

  </div>
</div>


<div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-2 justify-content-center">

    <div class="col mb-15">
      <div class="card h-100">
        <div class="card-body p-5">

          <div class="row">
            <aside class="col-md-4">
              <section class="user_info">
                <%= render 'shared/user_info' %>
              </section>
            </aside>

            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <%= render 'comments/comment_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col mb-5">
        <div class="card h-100">
          <div class="text-center">
            <div class="card-body p-5">
              Here you will find comments.
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
