<div class="owl-carousel testimonial-carousel">
  <div class="testimonial-item bg-transparent border rounded p-4">
    <i class="fa fa-quote-left text-primary mb-3"></i>
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
    <div class="d-flex align-items-center">
      <%= link_to image_tag("img/testimonial-1.jpg") %>
      <div class="ps-3">
        <h5 class="mb-1">
          <%= link_to micropost.user.name, micropost.user %>
        </h5>
        <small><%= time_ago_in_words(micropost.created_at) %> ago.</small>
        <% if current_user?(micropost.user) %>
          <%= link_to "delete", micropost, class: "small text-muted", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>